*{
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

body{
	min-height: 100vh;
	font-family: Corpid, Arial, sans-serif;
	background-position: bottom 20px right 20px;
	background-repeat: no-repeat;
	background-size: 200px

}

h1{
	font-weight: 900;
	color: #333;
	margin: 30px 10px;
	display: inline-block;
}

.underline{
	position: relative;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.underline:after{
	content: '';
	width: 100px;
	height: 4px;
	background: linear-gradient(135deg, #32d987 0%, #1bb6ab 99.29%);
	position: absolute;
	top: 100%;
	left: 0;
}

.task{
	margin: 10px;
	padding:  10px;
	border: 1px solid #4caf50;
	border-radius: 15px;
}

.mainContainer{
	display: flex;
}
.workArea{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 70%;
	margin: 0 10px;
}

.workArea #input_script{
	width: 100%;
	min-height: 200px;
	overflow : auto;
	resize : none;
	color: #15d615;
	background-color: black;
	font-weight: 900;
	padding: 10px;
	border: none;

}

.btnContainer{
	text-align: right;
	margin: 10px 0;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.btnContainer button{
	display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    border-radius: 24px;
    padding: 20px;
    background: linear-gradient(135deg, #32d987 0%, #1bb6ab 99.29%);
    margin-left: 20px;
    transition: box-shadow 0.5s ease;
}

.btnContainer button:hover{
	box-shadow: 4px 4px 10px black;	
}

.info{
	display: flex;
	justify-content: center;
	margin: 10px;
}


.result{
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: flex-start;
}

.result table{
	min-width: 30%;
	border-spacing: 0;
	margin-bottom: 50px;
}
.result table+table{
	margin-left: 20px;
}

.result td, .result th{
	border: 0.5px solid black;
	padding: 5px;
	text-align: center;
}
.result th{
	background-color: #1bb6ab;
	color: white;
}
.result tr:nth-child(2n){
	background-color: rgb(153, 153, 153);
}

.result tr:nth-child(2n-1){
	background-color: lightgray;
}

.tableListContainer{
	width: 30%;
	margin: 0 10px;
	overflow: hidden;
	color: #333;
}

.tableListContainer>div{
	padding: 10px;
	border: 1px solid #4caf50;
	border-radius: 15px;
}

.tableListContainer .hide  ul{
	display: none;
}
.tableListContainer .arrow{
	color: #1bb6ab;
	display: inline-block;
}

.tableListContainer .hide .arrow{
	transform: rotate(180deg);
}

.tableListContainer>div{
	margin-bottom: 20px;
}

.tableListHeader{
	font-size: 20px;
	font-weight: 900;
	cursor: pointer;
}

.tableListContainer div li{
	color: rgb(153, 153, 153);
	border-bottom: 2px solid #1bb6ab;
}
.tableListContainer li{
	padding: 5px 0;
	padding-left: 10px;
}
.error{
	color: red;
	font-weight: 900;
}

.CodeMirror{
	width:  100%;
}